#container {
      width: 600px;
      height: 420px;
      position: relative;
      border: 2px solid #999;
      margin: 40px auto;
    }

    .box {
      width: 60px;
      height: 40px;
      background: #2563eb;
      color: white;
      text-align: center;
      line-height: 40px;
      position: absolute;
      border-radius: 6px;
      cursor: pointer;
      z-index: 2;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .dot {
  width: 12px;
  height: 12px;
  background: #444;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: crosshair;
}

.right-dot {
  right: -6px;
}

.left-dot {
  left: -6px;
}